@import "colors"

.hljs
  display: block
  overflow-x: auto
  padding: 0.5em
  background: syntax-background-color

.hljs,
.hljs-subst
  color: syntax-text-color

.hljs-comment
  color: syntax-comment-color

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name
  font-weight: bold

.hljs-string
	color: green

.hljs-type
	color: orange
	text-decoration: underline

.hljs-number,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion
	color: orange

.hljs-section
  color: orange
  font-weight: bold

.hljs-title
	font-weight: bold
	color: blue

.hljs-regexp
	color: very-pink

.hljs-symbol
	color: green

.hljs-variable
	color: blue

.hljs-template-variable
	color syntax-text-color

.hljs-link
	color: orange

.hljs-selector-attr
	color: light-pink

.hljs-meta
  color: orange

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: bold

.hljs-keyword
	color: pink

.hljs-literal
	color: orange

.hljs-name
	color: red

.hljs-attr
	color: orange

/*
	CSS
 */
.hljs-selector-tag
	color: red

.hljs-selector-class,
.hljs-selector-pseudo
	color: orange

.hljs-selector-id
	color: blue
